[project]
name = "{{project_name}}-workflow"
version = "0.1.0"
description = "Extracts data"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "llama-cloud-services",
    "extracted-data-client",
    "llama-index-core>=0.12.36",
    "python-dotenv>=1.1.0"
]
