[project]
name = "{{project_name}}-workflow"
version = "0.1.0"
description = "Extracts data"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "llama-cloud-services",
    "extracted_data_client"
]
