name: "{{project_name}}"

control-plane:
  port: 8000

default-service: echo_workflow

services:
  loop-files:
    name: Main Workflow
    source:
      type: local
      name: workflow
    path: workflow/loop_files:workflow
    python-dependencies:
      - "llama-cloud-services"

ui:
  name: "{{project_name}} UI"
  source:
    type: local
    name: ui
