name: "{{project_name}}"

control-plane:
  port: 8000

default-service: process-file

services:
  process-file:
    name: Process File
    source:
      type: local
      name: .
      sync_policy: merge
    path: "src/{{project_name_snake}}.process_file:workflow"
    python-dependencies:
      - "."

ui:
  name: "{{project_name}} UI"
  source:
    type: local
    name: ./ui
    sync_policy: merge
