name: "{{project_name}}"

control-plane:
  port: 8000

default-service: process-file

services:
  process-file:
    name: Process File
    path: "src/{{project_name_snake}}.process_file:workflow"
    env-files:
      - ".env"

ui:
  name: "{{project_name}} UI"
  source:
    name: ./ui
