export const APP_TITLE = "My App Title";
export const EXTRACTED_DATA_COLLECTION = "{{ project_name }}";
export const AGENT_NAME =
  process.env.NEXT_PUBLIC_LOCAL_DEPLOYMENT_NAME ||
  process.env.NEXT_PUBLIC_LLAMA_DEPLOY_DEPLOYMENT_NAME;
