export const APP_TITLE = "{{ project_title }}";
export const EXTRACTED_DATA_COLLECTION = "{{ project_name }}";
// When do deployment, change it to import.meta.env.VITE_AGENT_NAME
export const AGENT_NAME = undefined 